a {
    color: rgb(83, 83, 83);
    font-size: 30px;
    font-family: sans-serif;
    text-decoration: none;
}
p  {
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-family: sans-serif;
}
h1 {
    color: white;
    font-size: 50px;
    font-family: Helvetica;
    font-weight : bold;
    text-align: center;
    background-color: gray ;
}
h2 {
    color: rgb(133, 0, 0);
    font-size: 35px;
    font-family: sans-serif;
}
ul {
    color:black;
    font-size: 20px;
    font-family: Sans-serif;
}